**/*.DS_Store
.Rhistory
/requirements.txt
/main.py
/notebooks/
/models/
/data/
.idea/**
"Машинное обучение/ДЗ1. Линейные и деревянные модели. Решение.py"
/Машинное обучение/catboost_info/
*checkpoint.ipynb
/Машинное обучение/.ipynb_checkpoints/
/Машинное обучение/Данные/.DS_Store~95843fac5aa17111bef1eb34e834ab7d94039c8e
