.DS_Store
catboost-info
.Rhistory
grep .DS_Store
grep .DS_Store*.
/Users/iakubovskii/Machine_Learning/RANEPA/Fintech_2020/Машинное обучение/Данные/.DS_Store
/requirements.txt
/main.py
/notebooks/
/models/
/data/
.idea/Fintech_2020.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml



